<p id="p-mb-5">Ask your coach anything:</p>

<form action="/answer" data-turbo="false">
  <div class="input-group">
    <input type="text" name="question" placeholder="How can I help?" class="form-control">
    <input type="submit" value="Ask" class="btn btn-danger">
  </div>
</form>
