/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container {
  margin-top: 20px;
}

 body {
  font-family: 'Courier New', Courier, monospace;
 }

 h1 {
  text-shadow: 2px 2px 0px turquoise;
  font-weight: bold;
 }

 #p-mb-5 {
  margin-bottom: 5px;
 }

.btn-danger {
  transition: 0.4s ease;
}

.btn-danger:hover {
  background-color: turquoise;
  color: black;
 }

blockquote {
  border-left: 0.5rem solid rgba(255, 0, 0, 0.1);
  padding-left: 15px;
}

cite:before {
  content: "—";
}

.not-coach {
  background-color: rgba(255, 0, 0, 0.1);
}

.coach {
  background-color: rgba(64, 224, 208, 0.2);
}

.coach p {
  font-weight: bold;
}
